.item {
  display: flex;
  width: 300px;
  align-items: center;
  padding: 20px;
  border: 1px solid gray;
  margin: 10px;
}

.name {
  padding-left: 25px;
  font-family: sans-serif;
}

.status {
  margin-right: 25px;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: green;
}
