.statistics{
    margin: 0;
    padding: 0;
    width: 500px;
    height: auto;
   text-align: center;
   text-transform: uppercase;
}
.statList{
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
